<div>
    <div id="parameterContainer">
        <label>Words number: </label>
        <select [(ngModel)]="numwords">
            <option [value]="3" selected> 3 </option>
            <ng-container *ngFor="let c of numwordscapacity">
                <option *ngIf="c > 3" [value]="c"> {{c}} </option>
            </ng-container>
        </select>
        <button (click)="WordsDefine()">Generar</button>
        <div id="wordDescs">
            <p>{{numwords}} words choosed</p>
            <p *ngFor="let d of wordlist;let i = index"> {{i+1}} - {{d.definition}} </p>
        </div>
    </div>
    <div id="wordsContainer">
    </div>
</div>