<div>
    <label>Words number: </label>
    <select [(ngModel)]="numwords">
        <option [value]="3" selected> 3 </option>
        <ng-container *ngFor="let c of numwordscapacity">
            <option *ngIf="c > 3" [value]="c"> {{c}} </option>
        </ng-container>
    </select>
    <button (click)="WordsDefine()">Generar</button>
    <p>{{numwords}} words choosed</p>
</div>
<div>
    <table id="wordsContainer">
    </table>
    <ul>
        <li *ngFor="let d of wordlist;let i = index"> {{i+1}} - {{d.definition}} </li>
    </ul>
</div>